*.iml
.gradle
.idea
/local.properties
/build
/captures
.externalNativeBuild
.cxx
.DS_Store

# Signing
app/keystore.properties
app/*.keystore
app/*.jks

# Kotlin
.kotlin/

# Sisyphus planner
.sisyphus/
